

<div class="page-wrapper">
  <h2>Projects</h2>
  <div>
    Welcome to all my projecttttsss!
  </div>

  <div class="project-cards">
  <% blog.articles.each do |article| %>
    <div class="project-card">
        <div class="title">
          <%= article.data.title %>
        </div>
    </div>
  <% end %>
  </div>
</div>
