footer {
  position: fixed;
  bottom: 1rem;
  width: 100vw;
  font-weight: bolder;

}

footer>div>h2{
  margin: 0 auto;
  width: 30rem;
  height: auto;
  text-align: right;
  padding-bottom: 1rem;
}

footer>div>h2{
  margin: 0 auto;
}
