footer {
  position: fixed;
  bottom: 1rem;
  width: 100vw;
  font-weight: bolder
}

footer>div{
  margin: 0 auto;
  width: 30rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
}

footer>div>h2{
  margin: 0 auto;
}
