header {
  display: flex;
  text-align: center;
  align-items: baseline;
  z-index: 12;
  width: 95vw;
  min-width: 375px;
  margin: 0 auto;
}

#grace > h1{
  margin: 0!important;
  font-size: 4rem;
  }

.site-name {
  position: fixed;
  top: 1rem;
  left: 1rem;
  // text-align: left;
  padding-left: 1rem;
  transition: background 10s ease-out;
}

 .site-name:hover > #grace > h1 {
  background: radial-gradient(#4AC29A, #BDFFF3);
  background-size: 1800% 1800%;
  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.nav-menu-links{
  list-style: none;
  padding-inline-start: 0px!important;
  display: flex;
  flex-direction: row-reverse;
  position: fixed;
  top: 1rem;
  right: 1rem;
}

.nav-menu-link {
 width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display:inline;
  color: gray;
  font-weight: bolder;
  margin: 1.25rem;
 }

 #wechatqr {
  background-size: 100px 100px;
  background-position: center;
  transition: all 2s ease-out;
 }

#wechatqr:hover {
  border-radius: 0;
  transform: scale(2,2);
  border: none;
  background-size: contain;
 }


a:hover > .nav-menu-link {
  background-size: 2.9rem, 2.9rem;
  background: radial-gradient(#4AC29A, #BDFFF3);;
  background-size: 1800% 1800%;
  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;
}


@media screen and (max-width: 600px){
  header {
    position: relative;
    flex-direction: column-reverse;
    justify-content: center;
    padding-top: 0;
  }

  .site-name, .nav-menu-links {
    position: relative;
    margin: 0 auto;
  }

  .site-name {
    left: 0;
    padding-left: 0;
  }
  .project-cards{
    position: relative;
  }
  .nav-menu-links {
    right: 0;
  }
}


