header {
  display: flex;
  text-align: center;
  align-items: baseline;
  position: relative;
  z-index: 12;
  width: 95vw;
  min-width: 375px;
  margin: 0 auto;
  padding-top: 2rem;
  justify-content:space-between;
}

.site-name {
  position: fixed;
  top: 1rem;
  left: 1rem;
  text-align: left;
  padding-left: 1rem;
}


.nav-menu-links{
  list-style: none;
  padding-inline-start: 0px!important;
  display: flex;
  flex-direction: row-reverse;
  position: fixed;
  top: 1rem;
  right: 1rem;
}

.nav-menu-link {
 width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display:inline;
  color: gray;
  font-weight: bolder;
  margin: 2rem;
 }

.nav-menu-link>img{

}

.logo{
  text-align: left;
}


@media screen and (max-width: 540px){
  header {
    position: fixed;
    grid-template-columns: 100vw;
    grid-auto-rows: minmax(60px, auto);
  }
  header>div{
    padding: 0!important;

  }
}


