.project-wrapper {
  height: 100%;
  // width: 50vw;
  // min-width: 375px;
  margin: 0 auto;
  text-align: left;
}

.project-wrapper>p, .project-wrapper>h3 {
  line-height: 1.5rem;
  // padding: 0 1rem;
}

.project-wrapper > p > img {
  width: 100%;
  height: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

blockquote {
  width: 50%;
  margin: 0;
  padding-left: 50%;
}

blockquote>p {
  text-align: left;
  float: right;
}

.project-end {
  border-top: 2px solid rgba(0,0,0,1);
  border-bottom: 2px solid black;
  padding-bottom: 1rem;
}

#myBtn {
  display: block; /* Hidden by default */
  background-color: none;
  cursor: pointer;
  text-align: right;
}

.project-footer{
  display: flex;
  justify-content: space-between;

}

.project-footer > a {
  text-decoration: none;
}

.project-footer > a:hover{
  text-shadow: 4px 4px 6px rgba(107,249,185,.15);
}

@media screen and (max-width: 600px){

  .project-wrapper{
      // padding: .5rem;
  }
  .project-wrapper > h1{
    margin-left: 1rem;
  }
  blockquote {
    padding-left: 40%;
  }
  .project-banner-subtitle{
    width:60%;
  }
}


