
.project-cards {
  height: 300px;
  /*width: auto;*/
  border: 3px solid gold;
  margin: 2em;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /*flex-grow:;*/
}

.project-card {
  align-items: center;
  flex: 1;
  min-width: 0;
  /*width: 16%;*/
  background-color: pink;
  height: 100%;
  border: 1px solid white;
}
