.project-header-links {
  list-style: none;
  // padding-inline-start: 0px!important;
  display: flex;
  position: fixed;
  right: 21vw;
  top: 1rem;
  width: auto;
  flex-direction: row-reverse;
  mix-blend-mode: screen;
  z-index: 12;

}

.project-header-link {


}

.project-header-icon {
  width: 44px;
  height: 44px;

}
