
.project-banner{
  width: 30rem;
  margin: 0 auto;
  margin-top: 8rem;
}

.project-banner-grid {
  display: grid;
  grid-template-columns: repeat( 4, minmax(100px, 1fr) );
  grid-template-rows: repeat(3, auto-fill);
  grid-row-gap: 1rem;

}
.project-banner-grid>h1{
  grid-column: 1 / span 2;
  grid-row: 1 / 2;
  font-size: 5rem;
  text-align: left;
  margin: 0!important;
  background-clip: text;
}

.project-banner-subtitle{
  grid-column: 3 / span 2;
  grid-row: 2 ;
  text-align: left;
  margin: 0;
}
.project-links{
  grid-column: 1/ span 2;
  grid-row: 3/4;
  text-align: right;
  display: flex;
  flex-direction: row-reverse;
}

.project-icon {
  width: 32px;
  height: 32px;
}

.project-link {

  overflow: hidden;
  margin-right: 0;
  margin: 0 1rem;
}


.introimage{
  height: 300px;
  width: 30em;
  margin: 2rem 0;
}

.project-container {
  width: 100%;
  height: auto;

}

.introimage {
  position: relative;
}

.project-intro-text{
  width: 45%;
  position: absolute;
  top:2rem;
  right: 1.5rem;
  text-align: left;
  line-height: 1.75rem;
  color: white;
  text-shadow: 2px 2px 4px rgba(0,0,0,.2)
}

