
.project-cards {
  width: 30rem;
  height: 325px;
  /*border: 3px solid gold;*/
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: 0 auto;
  margin-top: 4rem;
  position: relative;

}

.project-card {
  align-items: center;
  background-color: lavender;
  height: 100%;
  border: 2px solid white;
  transition: all .5s ease-in-out;
}


.project-title {
  // font-size: 5rem;
  position: absolute;
  top: -4rem;
  left: 15rem;
  display: none;
  opacity: 1;
  text-align: left;
  /*transition: all .2s ease-in-out;*/
}

.project-card:hover {
  background-color: orange;
  /*transform: scale(1.1);*/
  /*display: all;*/
}

a {
  color: black;

}

.freelance.project-card:hover .freelance-title{
display: block;



}


.ubisoft.project-card:hover .ubisoft-title{
  display: block;


}

.yaochima.project-card:hover .yaochima-title{
  display: block;


}

.horizons.project-card:hover .horizons-title{
  display: block;


}

.wagon.project-card:hover .wagon-title{
  display: block;


}

.machine.project-card:hover .machine-title{
  display: block;


}
