
.project-banner{
  width: 50vw;
  min-width: 375px;
  margin: 0 auto;
  margin-top: 5rem;
}

.project-banner-grid {
  display: grid;
  grid-template-columns: repeat( 4, minmax(100px, 1fr) );
  grid-template-rows: repeat(3, auto-fill);
  grid-row-gap: 1rem;
}

.project-banner-grid>h1{
  grid-column: 1 / span 2;
  grid-row: 1 / 2;
  font-size: 5rem;
  text-align: left;
  margin: 0!important;
  background-clip: text;
}

.project-banner-subtitle{
  grid-column: 3 / span 2;
  grid-row: 2 ;
  text-align: left;
  margin: 0;
}
.project-links{
  grid-column: 3/ span 2;
  grid-row: 3/4;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.project-icon {
  width: 32px;
  height: 32px;
}

.project-link {
  overflow: hidden;
  margin-right:2rem;
  margin-top:2rem;
  // margin: 0 1rem;
}


.introimage{
  height: 300px;
  width:50vw;
  min-width: 375px;
  margin: 2rem auto;
  position: relative;
}

.project-container {
  width: 100%;
  height: auto;

}

.project-intro-text{
  width: 45%;
  position: absolute;
  top:2rem;
  right: 1.5rem;
  text-align: left;
  line-height: 2rem;
  color: white;
  text-shadow: 2px 2px 4px 8px rgba(0,0,0,.4)
}

@media screen and (max-width: 540px){

.project-banner{
  width: auto;
  min-width: 300px;

}
.introimage{
  height: 400px;

}
}

