html{
  scroll-behavior: smooth;
}

body {
  color: #000;
  text-align: center;
  margin: 0!important;
  font-family: 'Poppins', sans-serif;
}
h3{
  // font-family: 'Poppins-Medium';
}
p {
  font-style: 'Poppins-light';
}

.page-wrapper{
  height: 100%;
  width: 95vw;
  min-width: 375px;
  margin: 0 auto;
  padding: 1rem;
  margin-top: 2rem;
}

.index-wrapper{
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;

}

a {
  color: black;
  text-decoration: underline;
  &:focus,
  &:hover {
    transform: scale(1);
    outline: none;

  }
  &:visited {
    color: black;

  }
}


// - - - -- - grace title

// .gracetitle {
//   font-size: 4rem;
//   color: white;
//   position: fixed;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;

// }

@media screen and (max-width: 600px) {
  .index-wrapper{
    position: relative;
  }
  .page-wrapper{
    width: auto;
    min-width: 300px;
    margin: 0 auto;
  }

}

