<footer>
 <!--  <div>
    <img class="qrcode"src="../../../../images/wechatqr.png" alt="wechat_yay_cake">
    <div class="qrcover">
    </div>
  </div> -->

 <!--  <div class="nav-menu-link" id="wechatqr"
        style="background-image: url('../../../../images/wechatqr.png');">
  </div>
 -->
</footer>
