<footer>
  <input type="checkbox" id="contact-show" style="opacity: 0;"></input>
  <label class="footer-label" id="contact-info" for="contact-show">
    <h3 id="footer-contact-button">Contact Grace</h3>
  </label>
  <div class="hidden-contact">
    <a href="mailto:im@thegraceyang.com">
      <h3>
        im
        <img class="icons-footer" src="../images/icons/icon-sm-at.svg">
        thegraceyang.com
      </h3>
    </a>
    <div>
      <h3>
        <img class="icons-footer" src="../images/icons/icon-sm-wechat.svg">
        yay_cake
      </h3>
    </div>
  </div>
</footer>
