<header>
  <div class="logo">
    <h3>Hi, I'm Grace</h3>
  </div>
  <div>
    <ul class="nav-menu-links">
      <li>LinkedIn</li>
      <li>Github</li>
      <li>Dribbble</li>
    </ul>
  </div>
</header>

