<header>
  <div class="site-name">
    <a id="grace" href="../../../../index.html" style="text-decoration: none!important;" aria-label="Grace's Home Page">
      <h1>Grace</h1>
    </a>
  </div>

  <div class="nav-menu-links">
      <div class="nav-menu-link" id="wechatqr"
        style="background-image: url('../../../../images/wechatqr.png');">
        </div>
    <a href="../../../../contact">
      <img class="nav-menu-link" src="../../../../images/icons/icon-email.svg" alt="Message Grace">
    </a>
    <a href="http://www.github.com/yaycake" target="_blank" rel="noopener">
      <img class="nav-menu-link" src="../../../../images/icons/icon-github.svg" alt="Github">
    </a>
    <a href="https://www.linkedin.com/in/ygrace" target="_blank" rel="noopener">
      <img class="nav-menu-link" src="../../../../images/icons/icon-linkedin.svg" alt="LinkedIn">
    </a>
  </div>
</header>

