<header>
  <div class="site-name">
    <a href="../../../../index.html" style="text-decoration: none!important;">
      <h1 style="margin:0!important; font-size: 4rem; ">Grace</h1>
    </a>
  <!--   <h3>
      UX + UI | Design |
       Front End
    </h3> -->
  </div>

  <div class="nav-menu-links">
    <a href="../../../../contact">
      <img class="nav-menu-link" src="../../../../images/icons/icon-email.svg" alt="Message Grace">
    </a>
    <a href="http://www.github.com/yaycake" target="_blank">
      <img class="nav-menu-link" src="../../../../images/icons/icon-github.svg" alt="Github">
    </a>
    <a href="https://www.linkedin.com/in/ygrace" target="_blank">
      <img class="nav-menu-link" src="../../../../images/icons/icon-linkedin.svg" alt="LinkedIn">
    </a>
  </div>
</header>

