<header>
  <div class="logo">
    <h2>Hi, I'm Grace</h2>
  </div>
  <div>
    <ul class="nav-menu-links">
      <li>LinkedIn</li>
      <li>Github</li>
      <li>Dribbble</li>
    </ul>
  </div>
</header>

