<!doctype html>
<html>
  <head>
    <meta name="description" content="Grace | Freelance UX and UI Designer Portfolio Website">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Grace | UX and UI" %></title>

    <!-- - - - - - - openg graph -->
    <meta property="og:title" content="Grace Yang" />
    <meta property="og:description" content="UX UI Design and Code">
    <meta property="og:url" content="http://www.thegraceyang.com" />
    <meta property="og:image" content="../images/opengraphic.jpg"/>
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:type" content="website" />

    <!-- - - - - stylesheets -->

    <link rel="stylesheet" href="../stylesheets/site.css">
    <link rel="stylesheet" href="../stylesheets/header.css">
    <link rel="stylesheet" href="../stylesheets/projectcards.css">

    <link rel="stylesheet" href="../stylesheets/project.css" async>
    <link rel="stylesheet" href="../stylesheets/projectbanner.css" async>
    <link rel="stylesheet" href="../stylesheets/projectheader.css" async>
    <link rel="stylesheet" href="../stylesheets/contactform.css" async>

    <link rel="icon" href="../favicon.ico" />

    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" async>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
