<header>

  <div class="nav-menu-links">
    <a href="https://www.linkedin.com/in/ygrace" target="_blank">
      <img class="nav-menu-link" src="../../../../images/icons/icon-linkedin.svg" alt="LinkedIn">
    </a>
    <a href="http://www.github.com/yaycake" target="_blank">
      <img class="nav-menu-link" src="../../../../images/icons/icon-github.svg" alt="Github">
    </a>
    <a href="mailto:im@thegraceyang.com" target="_blank">
      <img class="nav-menu-link" src="../../../../images/icons/icon-email.svg" alt="Email">
    </a>
  </div>
</header>

