<header>
  <!-- <div class="logo">
    <h2>Hi, I'm Grace</h2>
  </div> -->
  <div>
    <ul class="nav-menu-links">
      <li style="text-align: left;">LinkedIn</li>
      <li style="text-align: center;">Github</li>
      <li style="text-align: right;">Dribbble</li>
    </ul>
  </div>
</header>

