
  <projects>
    <div class="project-cards">
      <% blog.articles.each do |article| %>
        <% link_to article.url do %>
          <div class="project-card">
            <div class="title">
              <%= article.data.title %>
            </div>
          </div>
        <% end %>

      <% end %>
      </div>
    </projects>
