
  <projects>
    <div class="project-cards">

      <% blog.articles.each do |article| %>
        <% link_to article.url do %>
          <div class="project-card  <%= article.data.title.downcase %>">
            <h2 class="project-title <%= article.data.title.downcase %>-title">
              <%= article.data.title %>
            </h2>

          </div>
        <% end %>

      <% end %>
      </div>
    </projects>
