
    <!-- - - - - - Project Banner -->
    <div class="project-banner">
      <div class="project-banner-grid">
        <h1><%= current_page.data.title %></h1>
        <h3 class="project-banner-subtitle">
          <%= current_page.data.subtitle %>
        </h3>
        <div class="project-links">
          <% current_page.data.links.each do |link| %>
            <div class="project-link"><%= link %></div>
          <% end %>
        </div>
      </div>
      <div class="introimage">
        <div class="project-intro-text">
            <h3>
            Lorem ipsum dolor sit amet, est ne aperiri sapientem, inermis neglegentur quo id.
            </h3>
      </div>
    </div>
    <!-- -- end of project banner above -->
