---
title: Contact Me
---

<div class="page-wrapper contact-wrapper">

  <div class="contact-banner">
    <h1>Let's Chat</h1>
    <h3>Shoot me a message here or find me on WeChat @yay_cake.</h3>
  </div>

  <div class="contact-form">
    <form action="//formspree.io/im@thegraceyang.com" method="POST">

      <div>

        <input type="text" name="name" placeholder="What's Your Name?" id="name" required>
      </div>
      <br>
      <div>

        <input type="email" name="_replyto" placeholder="Your@EmailHere.com" id="_replyto" required>
      </div>
      <br>
      <div>

        <textarea name="message" rows="1" placeholder="Your Message" id="message" required></textarea>
      </div>

      <input class="hidden" type="text" name="_gotcha" style="display:none">

      <input class="hidden" type="hidden" name="_subject" value="Message via http://domain.com">


      <input id="submitbutton" class="button submit" type="submit" value="Send">


    </form>
  </div>


</div>


