projectcards {
  margin: 0 auto; }

.project-cards {
  width: 100%;
  height: 80vh;
  display: grid;
  margin: 0 auto;
  margin-top: 4rem;
  position: relative; }

.project-card {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  border: 1.5px solid white;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  background-position: left;
  background-size: cover; }

.project-title {
  font-size: 4rem;
  top: 26rem;
  display: none;
  text-align: left;
  color: white;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 4rem; }

.project-cards > a {
  text-decoration: none; }

.project-card:hover {
  display: all;
  -webkit-filter: none;
          filter: none; }

.freelance.project-card:hover .freelance-title,
.ubisoft.project-card:hover .ubisoft-title,
.yaochima.project-card:hover .yaochima-title,
.horizons.project-card:hover .horizons-title,
.wagon.project-card:hover .wagon-title,
.machine.project-card:hover .machine-title,
.power.project-card:hover .project-title {
  display: block; }

.journey.project-card .journey-title {
  font-size: 3rem; }

.journey.project-card:hover .chengdu-title {
  display: block; }

@media screen and (max-width: 600px) {
  .project-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    grid-template-rows: auto !important;
    grid-template-columns: auto !important;
    background-position: left bottom;
    height: auto;
    width: 95%;
    margin: 0 auto;
    margin-top: 4rem; }
    .project-cards .project-card {
      width: 100%; }
    .project-cards .project-title {
      display: block;
      font-size: 2rem; } }
