---
title: Welcome to Middleman

---

<div class="page-wrapper">
  <div class="banner">
    <h2>
      UX  &amp; UI Design
      </br>
      &amp; Front End Development
    </h2>
  </div>
</div>
<%= partial '/partials/projects' %>
</div>
