---
title: Welcome to Middleman

---

<div class="page-wrapper">

  <h2>
    UX  &amp; UI Design
    </br>
    &amp; Front End Development
  </h2>

  <%= link_to(
    "Read Documentation",
    "https://middlemanapp.com/basics/templating_language/",
    target: "_blank"
  ) %>

 <%= partial '/partials/projects' %>


</div>



</div>
