---
title: Welcome to Middleman

---

<div class="page-wrapper">
  <div class="banner">
    <div class="banner-grid">
    <h1 >Grace</h1>
    <h2 class="banner-subtitle">
      UX  &amp; UI Design
      </br>
      &amp; Front End Development
    </h2>
    </div>
  </div>
  <%= partial '/partials/projects' %>
</div>

</div>
