---
title: Welcome to Middleman

---

<div class="page-wrapper">

  <h1>
    UX  &amp; UI Design
    </br>
    &amp; Front End Development
  </h1>

  <%= link_to(
    "Read Documentation",
    "https://middlemanapp.com/basics/templating_language/",
    target: "_blank"
  ) %>

  <!-- - - - - - render/iterate thru project previews
  h  e  r  e
   -->


</div>
